.generator {
  &-grid {
    width: 80%;
    flex-wrap: wrap;
    display: flex;

    &-cell {
      box-sizing: border-box;
      border: 1px solid;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
